color-main = #f67070
color-main-darker = #d65252
color-text = #666
color-link = #222

fancy-font = 'Roboto Slab'

logo-width = 260px
nav-width = 30%
column-max-width = 600px

// util

.centerer
  display block
  text-align center

// global

*, *:before, *:after
  box-sizing border-box

body
  font-family Georgia
  line-height 1.5
  color color-text
  font-size 1.1rem

h1,h2,h3,h4,h5,h6
  font-family fancy-font
  padding-top 50px
  text-align center
  a
    text-decoration none

h3
  font-size 1.5rem

a
  color color-link

p,ol,ul
  a
    color color-main

// components

nav
  position fixed
  top 0
  right 0
  width nav-width
  height 100%
  background color-main
  color white
  font-family fancy-font
  font-weight 300
  padding-top 40px
  overflow-y scroll
  a
    color white
    display block
    padding 8px 30px
    font-size 1rem
    text-decoration none
    opacity 0.7
    transition all 0.2s
    &:hover, &:active, &.active
      transition all 0s
      opacity 1
      // text-decoration underline
      background color-main-darker

#content
  width (100% - nav-width)
  padding 60px
  position relative

#column
  position relative
  max-width column-max-width
  margin 0 auto

#logo
  display inline-block
  width logo-width

  img
    display block
    width 100%

table.routes
  width 100%
  border-collapse collapse
  tr
    border-top 1px solid #CCC
    &:first-child
      border-top none
  th, td
    text-align left
    line-height 1.8
    &:first-child:after
      display block
      float right
      margin-right 20px
      content "→"
      text-align right
      opacity 0.5
