<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jus</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <nav>
      <a href="/#getting-started">Getting Started</a>
      <a href="/#pages">Pages</a>
      <a href="/#scripts">Scripts</a>
      <a href="/#stylesheets">Stylesheets</a>
      <a href="/#templates">Templates</a>
      <a href="/#datafiles">Datafiles</a>
      <a href="/#images">Images</a>
      <a href="/#context">Context</a>
      <a href="/#frontmatter">Frontmatter</a>
      <a href="/#clean-urls">Clean URLs</a>
      <a href="/#squeezing">Squeezing</a>
      <a href="/#deploying">Deploying</a>
    </nav>

    <div id="content">

      <div id="column">
        <div class="centerer">
          <a id="logo" href="/">
            <img src="logo.svg">
          </a>
        </div>

        {{{body}}}
      </div>

    </div>

  </body>
</html>
